<div class="whole">
    <div class="grid p-fluid login-box bg-primary-reverse p-2">

        <h1>Mot de passe oublié</h1>

        <h5>Saisissez votre addresse email</h5>

        <div class="md:col-4">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><i class="pi pi-at"></i></span>
                <input type="text" pInputText placeholder="Email">         
            </div>
        </div>

        <button pButton pRipple type="button" label="Envoyer un mail" class="p-button-rounded mt-5"></button>
    </div>  
    <p class="text-300" [routerLink]="['/login']">Tout vas mieux ? Retourner à la connexion !</p>
</div>
