<p-sidebar [(visible)]="visibleSidebar5" [fullScreen]="true" [baseZIndex]="10000">
    <a routerLink="/home" (click)="visibleSidebar5 = false">Accueil</a>
    <p-divider></p-divider>
    <a routerLink="/cart" (click)="visibleSidebar5 = false">Mes Paniers</a>
    <p-divider></p-divider>
    <a routerLink="/orders" (click)="visibleSidebar5 = false">Mes commandes</a>
    <p-divider></p-divider>
    <a routerLink="/account" (click)="visibleSidebar5 = false">Mon compte</a>
    <p-divider></p-divider>
</p-sidebar>

<div class="bg-primary-reverse header">
    <p-button type="button" class="mr-2 " (click)="visibleSidebar5 = true" icon="pi pi-th-large"></p-button>
    <p routerLink="/home" style="cursor : pointer;">Easy Commerce</p>
    <button pButton pRipple type="button" icon="pi pi-power-off" class="p-button-danger" (click)="logout()"></button>
</div>