<div style="text-align: center; height: 100%;">
    <h1>Mon compte</h1>
    <p-divider></p-divider>

    <h2>prénom</h2>
    <input style="width: 90%;" type="text" pInputText [(ngModel)]="user.firstname"> 

    <h2>nom</h2>
    <input style="width: 90%;" type="text" pInputText [(ngModel)]="user.lastname">

    <h3>pseudo</h3>
    <input style="width: 90%;" type="text" pInputText [(ngModel)]="user.pseudo">

    <h3>email</h3> 
    <input style="width: 90%;" type="text" pInputText [(ngModel)]="user.email">

    <h3>addresse</h3> 
    <input style="width: 90%;" type="text" pInputText [(ngModel)]="user.address">

    <button pButton pRipple class="submit" label="Enregistrer" (click)="saveEdit()"></button>
</div>