<p-sidebar [(visible)]="visibleSidebar5" [fullScreen]="true" [baseZIndex]="10000">
    <a>Test</a>
    <p-divider></p-divider>
    <a>Test</a>
    <p-divider></p-divider>
    <a>Test</a>
    <p-divider></p-divider>

</p-sidebar>
<div class="bg-primary-reverse header">
    <p-button type="button" class="mr-2 " (click)="visibleSidebar5 = true" icon="pi pi-th-large"></p-button>
    <p>Easy Commerce</p>
    <button pButton pRipple type="button" icon="pi pi-power-off" class="p-button-danger"></button>
</div>