

<div class="card">
    <p-dataView #dv [value]="items" [paginator]="true" [rows]="9" layout="grid">
        <ng-template let-product pTemplate="gridItem">
            <div class="col-12 md:col-4">
                <div class="product-grid-item card bg-primary-reverse">
                    <div class="product-grid-item-content ">
                        <div class="product-name"><h3>{{product.name}}</h3></div>
                        <img [src]="product.picture" [alt]="product.name" style="width: 300px; height: 300px;"/>
                    </div>
                    <p-divider></p-divider>
                    <div class="product-description">{{product.description}}</div>
                    <p-divider></p-divider>
                    <div class="product-grid-item-bottom ">
                        <span class="product-price">{{product.price}}€</span>
                        <p-button icon="pi pi-shopping-cart" [disabled]="product.quantity === 0" (onClick)="addToCart(product)"></p-button>
                    </div>
                    <p *ngIf="product.quantity !== 0; else NoItems">{{product.quantity}} restants !</p>
                    <ng-template #NoItems>plus de stock</ng-template>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>